/.vs/Ecco_BizHawkTool/v15/.suo
/.vs/Ecco_BizHawkTool/v15/Server/sqlite3/db.lock
/.vs/Ecco_BizHawkTool/v15/Server/sqlite3/storage.ide
/.vs/Ecco_BizHawkTool/v15/Server/sqlite3/storage.ide-shm
/.vs/Ecco_BizHawkTool/v15/Server/sqlite3/storage.ide-wal
/.vs/Ecco_BizHawkTool/v15/Server/sqlite3/storage\[Conflict\].ide-wal
/Ecco_BizHawkTool/Ecco_BizHawkTool.csproj.user
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Bizware.BizwareGL.GdiPlus.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Bizware.BizwareGL.GdiPlus.pdb
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Bizware.BizwareGL.OpenTK.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Bizware.BizwareGL.OpenTK.pdb
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Bizware.BizwareGL.SlimDX.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Bizware.BizwareGL.SlimDX.pdb
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Bizware.BizwareGL.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Bizware.BizwareGL.pdb
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Client.ApiHawk.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Client.ApiHawk.pdb
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Client.ApiHawk.xml
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Client.Common.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Client.Common.pdb
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Common.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Common.pdb
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Emulation.Common.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Emulation.Common.pdb
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Emulation.Cores.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Emulation.Cores.pdb
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Emulation.DiscSystem.dll
/Ecco_BizHawkTool/bin/2.x/Release/BizHawk.Emulation.DiscSystem.pdb
/Ecco_BizHawkTool/bin/2.x/Release/ELFSharp.dll
/Ecco_BizHawkTool/bin/2.x/Release/Ecco_BizHawkTool.dll
/Ecco_BizHawkTool/bin/2.x/Release/Ecco_BizHawkTool.pdb
/Ecco_BizHawkTool/bin/2.x/Release/ICSharpCode.SharpZipLib.dll
/Ecco_BizHawkTool/bin/2.x/Release/Ionic.Zip.dll
/Ecco_BizHawkTool/bin/2.x/Release/Newtonsoft.Json.dll
/Ecco_BizHawkTool/bin/2.x/Release/OpenTK.GLControl.dll
/Ecco_BizHawkTool/bin/2.x/Release/OpenTK.dll
/Ecco_BizHawkTool/bin/2.x/Release/OpenTK.dll.config
/Ecco_BizHawkTool/bin/2.x/Release/PeNet.dll
/Ecco_BizHawkTool/bin/2.x/Release/SlimDX.dll
/Ecco_BizHawkTool/bin/2.x/Release/System.Data.SQLite.dll
/Ecco_BizHawkTool/bin/2.x/Release/System.Data.SQLite.xml
/Ecco_BizHawkTool/bin/2.x/Release/Virtu.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Bizware.BizwareGL.GdiPlus.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Bizware.BizwareGL.GdiPlus.pdb
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Bizware.BizwareGL.OpenTK.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Bizware.BizwareGL.OpenTK.pdb
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Bizware.BizwareGL.SlimDX.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Bizware.BizwareGL.SlimDX.pdb
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Bizware.BizwareGL.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Bizware.BizwareGL.pdb
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Client.ApiHawk.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Client.ApiHawk.pdb
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Client.ApiHawk.xml
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Client.Common.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Client.Common.pdb
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Common.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Common.pdb
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Emulation.Common.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Emulation.Common.pdb
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Emulation.Cores.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Emulation.Cores.pdb
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Emulation.DiscSystem.dll
/Ecco_BizHawkTool/bin/x64/Debug/BizHawk.Emulation.DiscSystem.pdb
/Ecco_BizHawkTool/bin/x64/Debug/ELFSharp.dll
/Ecco_BizHawkTool/bin/x64/Debug/Ecco_BizHawkTool.dll
/Ecco_BizHawkTool/bin/x64/Debug/Ecco_BizHawkTool.pdb
/Ecco_BizHawkTool/bin/x64/Debug/ICSharpCode.SharpZipLib.dll
/Ecco_BizHawkTool/bin/x64/Debug/Ionic.Zip.dll
/Ecco_BizHawkTool/bin/x64/Debug/Newtonsoft.Json.dll
/Ecco_BizHawkTool/bin/x64/Debug/OpenTK.GLControl.dll
/Ecco_BizHawkTool/bin/x64/Debug/OpenTK.dll
/Ecco_BizHawkTool/bin/x64/Debug/OpenTK.dll.config
/Ecco_BizHawkTool/bin/x64/Debug/PeNet.dll
/Ecco_BizHawkTool/bin/x64/Debug/SlimDX.dll
/Ecco_BizHawkTool/bin/x64/Debug/System.Data.SQLite.dll
/Ecco_BizHawkTool/bin/x64/Debug/System.Data.SQLite.xml
/Ecco_BizHawkTool/bin/x64/Debug/Virtu.dll
/Ecco_BizHawkTool/obj/2.x/Debug/BizHawk.Client.EmuHawk.CustomMainForm.resources
/Ecco_BizHawkTool/obj/2.x/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Ecco_BizHawkTool/obj/2.x/Debug/Ecco_BizHawkTool.csproj.CopyComplete
/Ecco_BizHawkTool/obj/2.x/Debug/Ecco_BizHawkTool.csproj.CoreCompileInputs.cache
/Ecco_BizHawkTool/obj/2.x/Debug/Ecco_BizHawkTool.csproj.FileListAbsolute.txt
/Ecco_BizHawkTool/obj/2.x/Debug/Ecco_BizHawkTool.csproj.GenerateResource.cache
/Ecco_BizHawkTool/obj/2.x/Debug/Ecco_BizHawkTool.csprojAssemblyReference.cache
/Ecco_BizHawkTool/obj/2.x/Debug/Ecco_BizHawkTool.dll
/Ecco_BizHawkTool/obj/2.x/Debug/Ecco_BizHawkTool.pdb
/Ecco_BizHawkTool/obj/2.x/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Ecco_BizHawkTool/obj/2.x/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Ecco_BizHawkTool/obj/2.x/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Ecco_BizHawkTool/obj/2.x/Release/BizHawk.Client.EmuHawk.CustomMainForm.resources
/Ecco_BizHawkTool/obj/2.x/Release/DesignTimeResolveAssemblyReferences.cache
/Ecco_BizHawkTool/obj/2.x/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Ecco_BizHawkTool/obj/2.x/Release/Ecco_BizHawkTool.csproj.CopyComplete
/Ecco_BizHawkTool/obj/2.x/Release/Ecco_BizHawkTool.csproj.CoreCompileInputs.cache
/Ecco_BizHawkTool/obj/2.x/Release/Ecco_BizHawkTool.csproj.FileListAbsolute.txt
/Ecco_BizHawkTool/obj/2.x/Release/Ecco_BizHawkTool.csproj.GenerateResource.cache
/Ecco_BizHawkTool/obj/2.x/Release/Ecco_BizHawkTool.dll
/Ecco_BizHawkTool/obj/2.x/Release/Ecco_BizHawkTool.pdb
/Ecco_BizHawkTool/obj/2.x/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Ecco_BizHawkTool/obj/2.x/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Ecco_BizHawkTool/obj/2.x/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
